body {
    background-color: rgb(245, 212, 209);
}
h1 {
    text-align: center;
    color: rgb(65, 170, 65);
    padding-top: 15px;
    padding-bottom: 0;
}
h2 {
    text-align: center;
    padding-top: 0;
    color: rgb(81, 80, 80);

}

form {
    display: flex;
    justify-content: center;
    padding: 30px
}

.prompt {
    padding: 5px;
    margin-right: 10px;
}
.submit {
    padding: 5px;
    margin-left: 10px;
}

.output {
    display: flex;
    justify-content: center;
    margin: 10px;
}

footer {
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 100px;
}